@import "tailwindcss";


@theme {
  --color-background: rgb(239, 246, 255);  
  --color-background-dark: rgba(255,255,255,0.05);
  --color-menu: rgb(31, 41, 55);
  --color-menu-dark: rgb(26,26,26);
  --color-primary: rgb(29, 78, 216);
  --color-border: rgb(209, 213, 219);
  --color-border-dark: rgb(255,255,255);
  --color-accent: rgb(226, 232, 240);
  --color-accent-dark: rgb(55, 65, 81);
  --color-text-secondary: rgb(107, 114, 128);
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
